@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

html {
	height: 100%;
}

body {
	font-family: 'Fjalla One', sans-serif;
	background: linear-gradient(to bottom, #405166 0%, #656f6f 100%);
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.link {
	margin-top: 70px;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.button {
	position: relative;
	color: #cc00ff;
	text-transform: uppercase;
	opacity: 0;
	visibility: hidden;
	cursor: pointer;
    margin-top: 80px;
}

.button span {
	transform: skew(-10deg);
	display: block;
	float: left;
	text-shadow: #533d4a 1px 1px, #533d4a 2px 2px, #533d4a 3px 3px, #533d4a 4px 4px;
}

h1 {
	color: #fff;
	text-transform: uppercase;
	font-size: 42px;
	margin: 0;
	line-height: 47px;
	letter-spacing: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.text {
    margin: 5px 0;
	transform: translateX(-50%) rotate(-10deg);
	display: block;
	float: left;
	left: 50%;
	position: relative;
}

.title span {
	transform: skew(-10deg);
	display: block;
	float: left;
	text-shadow: #533d4a 1px 1px, #533d4a 2px 2px, #533d4a 3px 3px, #533d4a 4px 4px, #533d4a 5px 5px, #533d4a 6px 6px;
	min-width: 10px;
	min-height: 10px;
	position: relative;
}

.title:nth-child(1) {
	color: #e55643;
}

.title:nth-child(2) {
	color: #2b9f5e;
}

.title:nth-child(3) {
	color: #f1c83c;
}

.links {
    margin-top: 50px;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

.links * {
	color: #f1c83c;
}

.links a {
    margin: 15px;
}